html {
	scrollbar-color: #444 #222;
}

body {
	margin: 0;
	font-family: sans-serif;
	text-align: center;
	color: white;
	background-color: #222;
}

::-webkit-scrollbar {
	width: 1rem;
	-webkit-appearance: none;
}

::-webkit-scrollbar-corner {
	background-color: #222;
}

::-webkit-scrollbar-thumb {
	background-color: #444;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

::-webkit-scrollbar-thumb:active {
	background-color: #3A3A3A;
}

header {
	width: 100%;
	margin-bottom: 2.5rem;
	background-color: #333;
	box-shadow: 0 0 0.5rem #111;
}

#warn-ES6,
noscript {
	display: block;
	line-height: 2rem;
	width: 100%;
	font-size: 125%;
	font-weight: 700;
	text-align: center;
	background-color: #F70;
}

#warn-ES6 > a {
	color: #07F;
}

#warn-ES6,
input[type=checkbox],
input[type=radio],
.compact {
	display: none;
}

*:focus {
	outline: none;
}

.toolbar {
	display: inline-flex;
	line-height: 2rem;
	max-width: 42.8rem;
	padding: 1rem;
	margin: 0 auto;
	flex-wrap: wrap;
	align-items: center;
	font-weight: 700;
	text-align: left;
}

.break {
	height: 0;
	flex-basis: 100%;
}

.flex {
	height: 0;
	max-width: 0.6rem;
	flex-grow: 1;
}

span {
	padding: 0 0.3rem;
	vertical-align: middle;
}

a {
	font-weight: 700;
	text-decoration: none;
	color: #49F;
}

a:hover {
	text-decoration: underline;
}

input[type=number] {
	height: 1.4rem;
	width: 2rem;
	padding: 0 0.15rem;
	font-family: sans-serif;
	font-size: 100%;
	font-weight: 700;
	vertical-align: middle;
	color: #FFF;
	background-color: #181818;
	border: none;
	-moz-appearance: textfield;
}

input[type=number]:disabled {
	color: #666;
	background-color: #222;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

label,
button {
	display: inline-block;
	font-family: sans-serif;
	cursor: pointer;
}

label,
button,
#display {
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}

.toolbar > label,
.toolbar > button {
	position: relative;
	height: 1.4rem;
	line-height: 1.4rem;
	padding: 0 0.25rem;
	margin: 0.3rem 0;
	box-sizing: border-box;
	font-size: 100%;
	font-weight: 700;
	vertical-align: middle;
	color: #FFF;
	background-color: #555;
	border: 0.05rem outset #777;
	border-radius: 0.1rem;
	box-shadow: 0 0.05rem 0.2rem #111;
}

.toolbar > button[data-field],
.toolbar > input[type=radio] + label {
	width: 1.4rem;
}

.toolbar > input[type=checkbox] + label {
	padding: 0 0.3rem 0 1.2rem;
	margin-left: 0.6rem;
}

.toolbar > button:not([data-field]):not(#clear) {
	margin-left: 0.6rem;
}

.toolbar > input[type=checkbox]:hover + label,
.toolbar > input[type=radio]:hover + label,
.toolbar > button:hover {
	background-color: #777;
	border-color: #999;
}

.toolbar > input[type=checkbox]:active + label,
.toolbar > button:active {
	top: 0.05rem;
	color: #CCC;
	background-color: #444;
	border: 0.05rem inset #555;
	box-shadow: none;
}

.toolbar > input[type=checkbox] + label::before {
	position: absolute;
	top: 0.45rem;
	left: 0.4rem;
	height: 0.4rem;
	width: 0.4rem;
	border-radius: 100%;
	background-color: #000;
	content: '';
}

.toolbar > input[type=checkbox]:checked + label::before {
	background-color: #F70;
	box-shadow: 0 0 0.2rem 0.1rem #F70;
}

.toolbar > input[type=radio]:checked + label {
	top: 0.05rem;
	background-color: #444;
	border: 0.05rem inset #555;
	box-shadow: none;
}

.toolbar > input[type=radio] + label::before {
	position: absolute;
	top: 0;
	left: 0;
	height: 1.3rem;
	width: 1.3rem;
	background: no-repeat center/60% url(images/arrow.svg);
	content: '';
}

#axisXL + label::before {
	transform: rotate(180deg);
}

#axisYU + label::before {
	transform: rotate(270deg);
}

#axisYD + label::before {
	transform: rotate(90deg);
}

.toolbar > input:disabled + button,
.toolbar > input:disabled + * + button {
	color: #666;
	background-color: #333;
	border-color: #444;
	cursor: default;
}

#decimal {
	flex-grow: 1;
}

#copy.copied::before,
#link.copied::before {
	position: absolute;
	top: 2rem;
	left: 50%;
	transform: translate(-50%);
	padding: 0 0.3rem;
	color: #FFF;
	background-color: #F70;
	border-radius: 0.2rem;
	box-shadow: 0 0.2rem 0.2rem #111;
	content: 'COPIED';
}

#copy.copied::after,
#link.copied::after {
	position: absolute;
	top: 1.2rem;
	left: 50%;
	margin-left: -0.4rem;
	border: 0.4rem solid transparent;
	border-bottom-color: #F70;
	content: '';
}

#display {
	display: inline-block;
	line-height: 0;
	padding: 1rem;
	margin: 0 auto 2em auto;
	white-space: nowrap;
	background-color: #333;
	border-radius: 0.2rem;
	box-shadow: 0 0.2rem 1rem #111;
}

#display > label {
	width: 4em;
	height: 4em;
	background-color: #000;
	border: 0.01em solid #222;
}

#display.no-grid > label {
	border-color: #000;
}

#display > input:checked + label {
	background-color: #FFF;
	border-color: #DDD;
}

#display.no-grid > input:checked + label {
	border-color: #FFF;
}

#display > input + label:hover {
	border-color: #F70 !important;
	box-shadow: inset 0 0 0 0.2rem #F70;
}

#tips {
	margin: 1rem 0;
	font-size: 80%;
	color: #888;
}

#tips > p {
	margin: 0.5rem;
}

#about-bg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
}

#about-bg > div {
	position: relative;
	top: 7.4rem;
	max-width: 20rem;
	margin: auto;
	padding: 1rem 2rem;
	text-align: center;
	background-color: #333;
	border-radius: 0.4rem;
}

#keys > h4 {
	margin-bottom: 0.8rem;
	text-align: center;
}

#keys {
	line-height: 1.5rem;
	text-align: left;
}

#link-text {
	position: fixed;
	top: 100%;
}

@media only screen
and (max-width: 45.5rem) {
	.toolbar {
		max-width: 22.2rem;
	}

	.flex {
		max-width: initial;
		flex: 0 0 100%;
	}

	#square + label {
		margin-right: 0;
	}

	#decimal {
		max-width: 16.2rem;
	}

	#clear {
		margin-left: 0.3rem;
	}

	#about-bg > div {
		top: 11.4rem;
	}
}

@media only screen
and (max-width: 24rem) {
	html {
		font-size: 4vw;
	}
}

@media only screen
and (max-width: 480px) {
	#tips,
	#keys {
		display: none;
	}
}
